
<div class="row">

    <div class="col-md-6 mb-4">
        <div class="card p-4">
            <h5 style="color: rgb(6, 131, 241);">Profile Info</h5>
            <p>Name: <strong><%= user.name %></strong></p>
            <p>Email: <strong><%= user.email %></strong></p>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card p-4">
            <h5 style="color: rgb(6, 131, 241);">Activity</h5>
            <p>Comments Written: <strong><%= user.totalComments %></strong></p>
            <p>Saved Blogs: <strong><%= user.savedBlogs %></strong></p>
        </div>
    </div>

</div>